

<div class="container">
  <form target="contacts" action="/contacts" method="post">
    <div class="form-group">
      <label for="first_name">First Name</label>
      <input type="text" class="form-control" id="first_name" name="first_name">
      <label for="last_name">Last Name</label>
      <input type="text" class="form-control" id="last_name" name ="last_name">
      <div class="form-group">
        <label for="contact_type">Contact Type</label>
        <select class="form-control" id="contact_type" name="contact_type">
          <option value="Personal">Personal</option>
          <option value="Business">Business</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Make Contact</button>
    </div>
  </form>


</div>
<div class="container">
  <iframe src="/contacts" width="80%" height="500px" frameborder ="0" name="contacts"></iframe>

</div>
